[Desktop Entry]
Type=Service
Name=IRKick
Name[sv]=IRkick
GenericName=TDE LIRC Server
GenericName[ar]=خادم LIRC لكدى
GenericName[bg]=Сървър LIRC
GenericName[br]=Servijer LIRC TDE
GenericName[bs]=TDE LIRC server
GenericName[ca]=Servidor LIRC de TDE
GenericName[cs]=LIRC server pro TDE
GenericName[cy]=Gweinydd LIRC TDE
GenericName[da]=TDE LIRC-server
GenericName[de]=TDE LIRC-Server
GenericName[el]=Εξυπηρετητής LIRC του TDE
GenericName[eo]=TDE LIRC-servilo
GenericName[es]=Servidor LIRC de TDE
GenericName[et]=TDE LIRC server
GenericName[eu]=TDE LIRC Zerbitzaria
GenericName[fa]=TDE LIRC کارساز
GenericName[fi]=TDE:n LIRC-palvelin
GenericName[fr]=Serveur TDE LIRC
GenericName[ga]=Freastalaí LIRC TDE
GenericName[he]=שרת ה-LIRC של TDE
GenericName[hu]=TDE LIRC szolgáltatás
GenericName[is]=TDE LIRC þjónn
GenericName[it]=Server LIRC di TDE
GenericName[ja]=TDE LIRC サーバ
GenericName[ka]=TDE LIRC სერვერი
GenericName[kk]=TDE LIRC сервері
GenericName[km]=ម៉ាស៊ីន​បម្រើ TDE LIRC
GenericName[lt]=TDE LIRC serveris
GenericName[nb]=TDE LIRC-tjener
GenericName[nds]=TDE LIRC-Server
GenericName[ne]=TDE LIRC सर्भर
GenericName[nl]=TDE LIRC-server
GenericName[nn]=TDE LIRC-tenar
GenericName[pa]=TDE LIRC ਸਰਵਰ
GenericName[pl]=Serwer LIRC dla TDE
GenericName[pt]=Servidor de LIRC do TDE
GenericName[pt_BR]=Servidor LIRC do TDE
GenericName[ru]=Сервер LIRC для TDE
GenericName[sk]=TDE LIRC server
GenericName[sl]=Strežnik TDE LIRC
GenericName[sr]=TDE-ов LIRC сервер
GenericName[sr@Latn]=TDE-ov LIRC server
GenericName[sv]=TDE:s LIRC-server
GenericName[ta]=TDE LIRC சேவகன்
GenericName[tr]=TDE LIRC Sunucusu
GenericName[uk]=Сервер LIRC для TDE
GenericName[uz]=TDE LIRC serveri
GenericName[uz@cyrillic]=TDE LIRC сервери
GenericName[zh_CN]=TDE LIRC 服务器
GenericName[zh_TW]=TDE LIRC 伺服器

X-TDE-Library=irkick
X-TDE-autostart-after=panel
X-TDE-StartupNotify=false
X-DCOP-ServiceType=Unique
X-TDE-autostart-condition=irkickrc:General:AutoStart:false
Categories=Qt;TDE;Utility;

Exec=irkick
Icon=irkick
DocPath=irkick/index.html
Comment=TDE Linux infrared remote control server.
Comment[ar]=خادم كدى للتحكّم عن بعد بالأشعة تحت الحمراء في لينكس.
Comment[bg]=Сървър за управление на дистанционно устройство с инфрачервени лъчи
Comment[bs]=TDEov server za Linux infracrveno daljinsko upravljanje (Linux Infrared Remote Control).
Comment[ca]=Servidor de control remot per infrarojos de Linux TDE.
Comment[cs]=Server dálkového ovládání pro TDE.
Comment[cy]=Gweinydd rheolydd pell isgoch Linux TDE
Comment[da]=TDE Linux infrarød fjernbetjeningsserver.
Comment[de]=TDE Linux Infrarot Fernsteuerungsserver.
Comment[el]=Εξυπηρετητής τηλεχειριστηρίου υπερύθρων του Linux για το TDE.
Comment[es]=Servidor de control remoto por infrarrojos de TDE
Comment[et]=TDE Linuxi infrapuna kaugjuhtimise server.
Comment[eu]=TDE Linux infrasare urruneko aginte zerbitzaria.
Comment[fa]=TDE Linuxکارساز کنترل از راه دور مادون قرمز
Comment[fi]=TDE:n Linux infrapunalla toimivien kauko-ohjainten ohjauspalvelin.
Comment[fr]=Serveur de contrôle distant infrarouge sous Linux pour TDE.
Comment[ga]=Freastalaí TDE cianrialaithe infridhearg Linux
Comment[he]=שרת לשלט רחוק עבור TDE.
Comment[hi]=केडीई लिनक्स इन्फ्रारेड रिमोट नियंत्रण सर्वर.
Comment[hu]=TDE Linux szolgáltatás infravörös távirányítók kezeléséhez
Comment[is]=TDE Linux innrauða fjarstýringarstjórnborðið
Comment[it]=Server TDE per i telecomandi ad infrarossi
Comment[ja]=TDE Linux 赤外線リモートコントロールサーバ
Comment[ka]= TDE ლინუქსის ინფრაწითელი დაშორებული მართვის სერვერი
Comment[kk]=TDE Linux инфрақызыл порт арқылы басқару сервері.
Comment[km]=ម៉ាស៊ីន​បម្រើ​បញ្ជា TDE Linux infrared ពី​ចម្ងាយ ។
Comment[lt]=TDE Linux infraraudonųjų spindulių sąsajos nuotolinio valdymo serveris
Comment[nb]=TDE Linux-tjener for infrarød fjernkontroll
Comment[nds]=TDE-Linux Infraroot-Feernbedeenkuntrullserver
Comment[ne]=TDE लिनक्स अवरक्त टाढाको नियन्त्रण सर्भर ।
Comment[nl]=TDE-server voor infrarood-afstandsbediening.
Comment[nn]=TDE-tenar for infraraud fjernkontroll.
Comment[pa]=TDE ਲੀਨਕਸ ਇੰਫਰਾਰੈੱਡ ਰਿਮੋਟ ਕੰਟਰੋਲ ਸਰਵਰ ਹੈ।
Comment[pl]=Serwer obsługi pilotów dla TDE.
Comment[pt]=Servidor de comandos à distância por infravermelhos do TDE.
Comment[pt_BR]=servidor de controle infra-vermelho do Linux no TDE
Comment[ro]=Server de control al telecomenziilor în infraroşu
Comment[ru]=Сервер управления TDE через инфракрасный порт.
Comment[sk]=TDE server pre infračervené vzdialené ovládanie pre Linux.
Comment[sl]=Strežnik TDE Linux za infrardeči daljninski upravljalnik
Comment[sr]=TDE-ов сервер за контролу инфрацрвених даљинских управљача у Linux-у.
Comment[sr@Latn]=TDE-ov server za kontrolu infracrvenih daljinskih upravljača u Linux-u.
Comment[sv]=Infraröd fjärrkontrollserver
Comment[ta]=கேடிஇ லினக்ஸ் அகச்சிவப்பு கதிர் தொலைதூர கட்டுப்பாட்டு சேவகன்
Comment[tg]=Хидматрасони идоракунии дурдасти инфрасурхи TDE Linux.
Comment[tr]=TDE Linux kızılötesi uzaktan kontrol sunucusu.
Comment[uk]=Сервер дистанційного керування інфрачервоними пристроями для Linux та TDE.
Comment[uz]=Infraqizil nur bilan masofadan boshqarish serveri
Comment[uz@cyrillic]=Инфрақизил нур билан масофадан бошқариш сервери
Comment[zh_CN]=TDE Linux 红外远程控制服务器。
Comment[zh_TW]=TDE Linux 紅外線遙控伺服器。
