[Desktop Entry]
Type=Service
Exec=kcmshell --caption %c kwalletconfig
Icon=kwalletmanager
DocPath=kwallet/index.html
Name=TDE Wallet
Name[ar]=محفظة كدى
Name[bg]=Портфейл
Name[br]=Doug-paperoù TDE
Name[bs]=TDE novčanik
Name[cs]=Úschovna TDE
Name[cy]=Waled TDE
Name[da]=TDE's tegnebog
Name[de]=Digitale Brieftasche
Name[el]=Πορτοφόλι του TDE
Name[es]=Cartera de TDE
Name[et]=TDE turvalaegas
Name[eu]=TDE Kartera
Name[fi]=Lompakko
Name[fr]=Gestionnaire de comptes de TDE
Name[hi]=केडीई वॉलेट
Name[hu]=Digitális noteszek
Name[is]=TDE veskið
Name[it]=Portafogli di TDE
Name[ja]=TDE ウォレット
Name[kk]=TDE әмияні
Name[km]=កាបូប TDE
Name[lt]=TDE slaptažodinės
Name[mk]=TDE Паричник
Name[nds]=TDE-Knipp
Name[ne]=TDE वालेट
Name[pa]=TDE ਵਾਲਿਟ
Name[pl]=Portfel TDE
Name[pt]=Carteira TDE
Name[pt_BR]=Carteira do TDE
Name[ro]=Portofel TDE
Name[ru]=Бумажник
Name[sl]=Listnica za TDE
Name[sv]=TDE-plånbok
Name[ta]= கேடிஇ வாலட்
Name[tg]=TDE Ҳамён
Name[tr]=TDE Cüzdan
Name[uk]=Торбинки TDE
Name[uz]=TDE qopchiq
Name[uz@cyrillic]=TDE қопчиқ
Name[zh_CN]=TDE 钱包
Name[zh_TW]=TDE 錢包
