[Desktop Entry]
Icon=kwalletmanager
Type=Application
Exec=kcmshell kwalletconfig
DocPath=kwallet/index.html
X-KDE-ModuleType=Library
X-KDE-Library=kwallet
X-KDE-ParentApp=kcontrol

Name=TDE Wallet
Name[ar]=محفظة كدى
Name[bg]=Портфейл
Name[br]=Doug-paperoù TDE
Name[bs]=TDE novčanik
Name[cs]=Úschovna TDE
Name[cy]=Waled TDE
Name[da]=TDE's tegnebog
Name[de]=Digitale Brieftasche
Name[el]=Πορτοφόλι του TDE
Name[es]=Cartera de TDE
Name[et]=TDE turvalaegas
Name[eu]=TDE Kartera
Name[fi]=Lompakko
Name[fr]=Gestionnaire de comptes de TDE
Name[hi]=केडीई वॉलेट
Name[hu]=Digitális noteszek
Name[is]=TDE veskið
Name[it]=Portafogli di TDE
Name[ja]=TDE ウォレット
Name[kk]=TDE әмияні
Name[km]=កាបូប TDE
Name[lt]=TDE slaptažodinės
Name[mk]=TDE Паричник
Name[nds]=TDE-Knipp
Name[ne]=TDE वालेट
Name[pa]=TDE ਵਾਲਿਟ
Name[pl]=Portfel TDE
Name[pt]=Carteira TDE
Name[pt_BR]=Carteira do TDE
Name[ro]=Portofel TDE
Name[ru]=Бумажник
Name[sl]=Listnica za TDE
Name[sv]=TDE-plånbok
Name[ta]= கேடிஇ வாலட்
Name[tg]=TDE Ҳамён
Name[tr]=TDE Cüzdan
Name[uk]=Торбинки TDE
Name[uz]=TDE qopchiq
Name[uz@cyrillic]=TDE қопчиқ
Name[zh_CN]=TDE 钱包
Name[zh_TW]=TDE 錢包
Comment=TDE Wallet Configuration
Comment[ar]=إعداد محفظة كدى
Comment[bg]=Настройване на системата Портфейл
Comment[br]=Kefluniadur Doug-paperoù TDE
Comment[bs]=Podešavanje TDE novčanika
Comment[ca]=Configuració de carteres TDE
Comment[cs]=Nastavení úschovny TDE
Comment[cy]=Ffurfweddiad Waled TDE
Comment[da]=TDE's indstilling af tegnebog
Comment[de]=Einrichten der "digitalen Brieftasche" (KWallet)
Comment[el]=Ρύθμιση του πορτοφολιού του TDE
Comment[es]=Configuración de la cartera de TDE
Comment[et]=TDE turvalaeka seadistamine
Comment[eu]=TDE Karteraren Konfigurazioa
Comment[fa]=TDE Wallet پیکربندی
Comment[fi]=TDE-lompakon asetukset
Comment[fr]=Configuration du gestionnaire de comptes de TDE
Comment[ga]=Cumraíocht TDE Wallet
Comment[he]=TDE Wallet הגדרות
Comment[hi]=केडीई वॉलेट कॉन्फ़िगरेशन
Comment[hu]=A TDE digitális noteszeinek beállításai
Comment[is]=Stillingar veskisins
Comment[it]=Configurazione portafogli di TDE
Comment[ja]=TDE ウォレットの設定
Comment[ka]=TDE Wallet-ის კონფიგურაცია
Comment[kk]=TDE әмияннің баптауы
Comment[km]=ការកំណត់​រចនា​សម្ព័ន្ធ​កាបូប TDE
Comment[lt]=TDE slaptažodinių konfigūravimas
Comment[mk]=Конфигурација на паричник во TDE
Comment[nb]=Oppsett av TDE Wallet
Comment[nds]=TDE-Knipp instellen
Comment[ne]=TDE वालेट कन्फिगरेसन
Comment[nl]=TDE portefeuille-instellingen
Comment[nn]=Oppsett av TDE Wallet
Comment[pa]=TDE ਵਾਲਿਟ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja Portfela TDE
Comment[pt]=Configuração da Carteira do TDE
Comment[pt_BR]=Configuração da Carteira do TDE
Comment[ro]=Configurează portofelul TDE
Comment[ru]=Параметры бумажника
Comment[sk]=Konfigurácia TDE Wallet
Comment[sl]=Nastavitve Listnice za TDE
Comment[sr]=Подешавање TDE Wallet-а
Comment[sr@Latn]=Podešavanje TDE Wallet-a
Comment[sv]=Inställning av TDE-plånbok
Comment[ta]=கேடிஇ வாலட் வடிவமைப்பு
Comment[tg]=TDE Танзими Ҳамён
Comment[tr]=TDE Cüzdan Ayarı
Comment[uk]=Налаштування KWallet
Comment[uz]=TDE qopchiq xizmatini moslash
Comment[uz@cyrillic]=TDE қопчиқ хизматини мослаш
Comment[zh_CN]=TDE 钱包配置
Comment[zh_TW]=TDE 錢包設定
Keywords=Wallet,Form Fill,Passwords,Form Data
Keywords[ar]=محفظة،ملأ نموذج،كلمات السرّ،بيانات نموذج
Keywords[bg]=портфейл, форми, форма, попълване, данни, парола, пароли, Wallet, Form Fill, Passwords, Form Data
Keywords[bs]=Wallet,Form Fill,Passwords,Form Data,novčanik,formulari,popunjavanje formulara,šifre
Keywords[ca]=Cartera,Ompliment de formularis,Contrasentes,Dades de formularis
Keywords[cs]=úschovna,vyplnění formuláře,hesla,data formuláře
Keywords[cy]=Waled,Llenwi Ffurflen,Cyfrineiriau,Data Ffurflenni
Keywords[da]=Tegnebog,Formularudfyldning,Kodeord,Formular-data
Keywords[de]=Geheimfach,Formular,Passwort,Brieftasche,digitale Brieftasche
Keywords[el]=Πορτοφόλι,Συμπλήρωση φόρμας,Κωδικοί πρόσβασης,Δεδομένα φόρμας
Keywords[es]=Cartera,Rellenar formulario,Contraseña,Datos de formulario
Keywords[et]=Turvalaegas,Vormi täitmine,Paroolid,Vormiandmed
Keywords[eu]=Kartera,Formularioa Bete,Pasahitzak,Formulario Datuak
Keywords[fa]=Wallet، پر کردن برگه، اسم رمزها، دادۀ برگه
Keywords[fi]=Lompakko,Lomakkeen täyttö,Salasanat,Lomaketiedot
Keywords[fr]=gestionnaire de comptes,remplissage de formulaire,Mots de passe,Données de formulaire
Keywords[ga]=Wallet,Líonadh Foirmeacha,Focal Faire,Sonraí foirme
Keywords[hi]=बटुआ,फ़ॉर्म फिल,पासवर्ड,फ़ॉर्म डाटा
Keywords[hu]=digitális notesz,űrlapkitöltés,jelszavak,űrlapadatok
Keywords[it]=portafogli,wallet,riempimento moduli,moduli,form,password,dati moduli
Keywords[ja]=ウォレット,フォームフィル,パスワード,フォームデータ
Keywords[ka]=Wallet,ფორმის შევსება,პაროლები,ფორმათა მონაცემები
Keywords[km]=កាបូប,ការបំពេញ​សំណុំ​បែបបទ,ពាក្យ​សម្ងាត់,ទិន្នន័យ​សំណុំ​បែបបទ
Keywords[lt]=Wallet, slaptažodinė,Form Fill,Passwords,Form Data,formų pildymas,slaptažodžiai,formų duomenys
Keywords[mk]=Wallet,Form Fill,Passwords,Form Data, Паричник, формулар, лозинки
Keywords[nb]=Wallet,Skjemautfylling,Passord,Skjema
Keywords[nds]=Knipp,Formulor,Passwöör,Formulordaten
Keywords[ne]=वालेट,फारम भराइ,पासवर्ड,फारम डेटा
Keywords[nl]=Wallet,gegevens,portefeuille,wachtwoorden,veilig bewaren van wachtwoorden,invulgegevens,formulieren
Keywords[nn]=wallet,skjemautfylling,passord,skjema
Keywords[pa]=Wallet,Form Fill,ਗੁਪਤ-ਕੋਡ,ਫਾਰਮ ਡਾਟਾ
Keywords[pl]=portfel,wypełnianie formularzy,uzupełnianie formularzy, hasła, hasło,dane formularzy, formularze
Keywords[pt]=Carteira,Preenchimento de Formulários,Senhas,Dados do Formulário
Keywords[pt_BR]=carteira,preenchimento de formulário,senhas,dados de formulário
Keywords[ro]=portofel,completare formulare,parole,date formular,formular
Keywords[ru]=Wallet,Form Fill,Passwords,Form Data,Бумажник,Пароли,Формы
Keywords[sk]=wallet,formuláre,heslá,dáta z formulárov,schránka,peňaženka
Keywords[sl]=waller,denarnica,gesla,obrazec,podatki,geslo,listnica
Keywords[sr]=Wallet,Form Fill,Passwords,Form Data,лозинке,новчаник
Keywords[sr@Latn]=Wallet,Form Fill,Passwords,Form Data,lozinke,novčanik
Keywords[sv]=Plånbok,fyll i formulär,lösenord,formulärdata
Keywords[ta]=வாலட், படிவ நிரப்பு, கடவுச் சொற்கள், படிவ தகவல்
Keywords[tg]=Ҳамён,Пуркунии Варақа,Гузарвожаҳо,Варақаи Додаҳо
Keywords[tr]=Cüzdan,Form Doldur,Şifreler,Form Verisi
Keywords[uk]=Торбинка,Заповнення форм,Паролі,Дані форм
Keywords[zh_CN]=Wallet,Form Fill,Passwords,Form Data,钱包,填充表单,密码,表单数据

Categories=Qt;KDE;X-KDE-settings-security;
