[Desktop Entry]
Type=Service
ServiceTypes=KDEDModule
X-KDE-ModuleType=Library
X-KDE-Library=kmilod
X-KDE-FactoryName=kmilod
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=false
Name=KMilo
Name[de]=KMilo Sondertasten
Name[hi]=के-मिलो
Name[ne]=केमिलो
Name[sv]=Kmilo
Name[ta]= கேமிலோ
Comment=TDE special key notifier
Comment[ar]=مبلغ كدى للمفاتيح الخاصة
Comment[bg]=Известяване при натискане на специалните клавиши на някои модели лаптопи
Comment[bs]=TDE obavještenje o posebnim tipkama
Comment[ca]=Notificador de tecles especials de TDE
Comment[cs]=Hlášení speciálních kláves
Comment[da]=TDE Speciel tast bekendtgørelse
Comment[de]=Unterstützung für Sonder- und Multimediatasten in TDE
Comment[el]=Ειδοποιητής ειδικών πλήκτρων του TDE
Comment[eo]=TDE-specialklavatentigilo
Comment[es]=Notificador de teclas especiales de TDE
Comment[et]=TDE eriklahvide märkija
Comment[eu]=TDE tekla berezien jakinarazlea
Comment[fa]=اخطار دهندۀ ویژۀ کلید TDE
Comment[fi]=TDE:n erikoisnäppäinhuomauttaja
Comment[fr]=Notificateur de touche spéciale pour TDE
Comment[hu]=TDE-s kezelőprogram a speciális billentyűkhöz
Comment[is]=TDE sérhnappatólið
Comment[it]=Gestione TDE dei tasti speciali
Comment[ja]=TDE の特殊キー通知
Comment[kk]=TDE-ның арнаулы пернелерді қолдауы
Comment[km]=កម្មវិធី​ជូនដំណឹង​គ្រាប់ចុច TDE ពិសេស
Comment[lt]=TDE specialiųjų raktų pranešiklis
Comment[mk]=Известувач за спец. копчиња во TDE
Comment[nb]=Beskjedgiver TDE spesialtaster
Comment[nds]=TDE-Sünnertastenmellen
Comment[ne]=TDE विशेष कुञ्जी सूचनाकर्ता
Comment[nl]=TDE-notificatie van speciale toetsen
Comment[nn]=TDE-verktøy for spesialtastar
Comment[pa]=TDE ਖਾਸ ਸਵਿੱਚ ਸੂਚਕ
Comment[pl]=Obsługa klawiszy specjalnych
Comment[pt]=Notificação de teclas especiais do TDE
Comment[pt_BR]=Notificador de tecla especial do TDE
Comment[ro]=Notificare taste speciale pentru TDE
Comment[ru]=Поддержка специальных клавиш
Comment[sk]=TDE upozornenie na špeciálne klávesy
Comment[sl]=Opomnik posebnih ključev v TDE
Comment[sr]=TDE-ов обаваштавач о посебним тастерима
Comment[sr@Latn]=TDE-ov obavaštavač o posebnim tasterima
Comment[sv]=Underrättelse om TDE specialtangent
Comment[ta]= கேடிஇ சிறப்பு விசை குறிப்பான்
Comment[tr]=TDE özel tuş bildirici
Comment[uk]=Сповіщувач про натискання спеціальних клавіш для TDE
Comment[zh_CN]=TDE 特殊按键通知程序
Comment[zh_TW]=TDE 特殊鍵通知
